html {
    scroll-behavior: smooth;
}
body {
    background-color: beige;
    color: black;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro{
    display: flex;
    flex: 1;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 70%;
}
.profile-pic{
    flex: 1;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-pic img {
    width: 300px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgb(0, 38, 255);
}
.my-name span{
    position: relative;
    display: inline-block;
    color: beige;
    animation: glow 1s forwards;
    animation-delay: calc(var(--index) * 0.2s);
    opacity: 0;
}
.my-name{
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 6vw;
    font-weight: bolder;
    color: beige;
    margin-bottom: 10px;
    margin-left: 150px;
    position: relative;
    overflow: hidden;
    display: flex;
}
.social_icons{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap:10px;
    margin-bottom: 10px;
    margin-left: 150px;
}
.icon {
    background-color: #1E1E1F;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(0, 38, 255);
    color:beige;
    transition: 0.3s ease;    
}
.fiverr-icon{
    background-color: #1E1E1F;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(0, 38, 255);
    color:beige;
    transition: 0.3s ease; 
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 800;
    margin-top: -1px; 
}
.icon:hover, .fiverr-icon:hover{
    color:rgb(0, 38, 255);
    transform: scale(1.1);
    background-color: beige;
}
.cta{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    font-size: 13px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-right: 150px;
    padding-left: 150px;
    margin-bottom: 50px;
    width: 70%;
}
button{
    color: beige;
    background-color: #1E1E1F;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    font-weight: 700;
    box-shadow: 0 2px 4px rgb(0, 38, 255);
    cursor: pointer;
    transition: 0.3s ease;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
button:hover{
    color: rgb(0, 38, 255);
    transform: scale(1.1);
    background-color: beige;
}
.container{
    background-color: #1E1E1F;
    color: beige;
    border-radius: 10px;
    padding:1px 20px 1px 20px;
    margin:20px 100px 20px 100px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.3);
}
.navbar {
    top: 0;
    width: auto;
    background-color: beige;
    padding: 5px;
    margin:20px 100px 0px 100px;
    z-index: 1000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    box-shadow: 0px 0px 10px rgb(0, 38, 255);
    border-radius:10px;
}

.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap:15px;
    margin-left:-45px;
}

.nav-item a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    transition: color 0.3s;
}
.nav-item{transition: 0.3s ease;}
.nav-item:hover{transform: scale(1.1);}

.nav-item a:hover {
    color: rgb(0, 38, 255);
}
.service_list{
    display: flex;
    flex-direction: row;
    gap:20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.service{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    backdrop-filter: blur(30px);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    color: beige;
    padding: 20px;
    box-shadow: 0px 0px 8px rgba(0, 38, 255);
    width: 180px;
}
.service_content{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px;
}
.service_heading{
    margin-bottom: -10px;
    margin-top: 0px;
    text-align: center;
}
.service_text{
    margin-bottom: 0px;
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    gap:10px;
    transition: opacity 0.3s ease;
    border-radius: 8px;
}
a{
    text-decoration: none;
    color: beige;
}

.close{
    position: absolute;
    border:1px solid rgb(0, 38, 255);
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    top: 20px;
    right: 40px;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    z-index: 2000;
    transition: 0.3s ease;
}
.closefeedback{
    position: absolute;
    border:1px solid rgb(0, 38, 255);
    border-radius: 5px;
    padding:0px 15px 8px 15px;
    top: 20px;
    right: 40px;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    z-index: 2000;
    transition: 0.3s ease;
}
.close:hover, .closefeedback:hover{
    background-color: rgb(0, 38, 255);
}

.skills_list{
    list-style-type: none;
    display: flex;
    gap:15px;
    justify-content: left;
    align-items: left;
    margin-left:-40px;
}
.list-item{
    background-color: #202022;
    padding:10px;
    box-shadow: 0px 0px 2px rgb(0, 38, 255);
    font-size: small;
    border-radius: 5px;
}
h2{
    transition: 0.3s ease;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h2::after{
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    background-color: rgb(0, 38, 255);
    position: relative;
    bottom: 0;
    margin-top: 5px;
    border-radius: 2px;
    transition: 0.3s ease;
}
h2:hover::after{
    width: 100px;
}
.contact-form-container {
    background-color: #1E1E1F;
    padding: 30px;
    border: 1px solid rgb(0, 38, 255);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    transition: 0.3s;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid beige;
    border-radius: 4px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border-color: rgb(0, 38, 255);
}

.contact-form textarea {
    height: 100px;
    resize: vertical;
}

.contact-form button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}
.form-heading{
    text-align: left;
    margin-left:-10px;
    color: white;
}
.contact-form-popup{
    display: none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
    z-index: 1005;
    transition: 0.3s ease;
}
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    z-index: 1006;
}

.popup-content {
    background-color: #202022;
    color:beige;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 80%;
    text-align: center;
    box-shadow: 0 0px 10px rgba(255, 255, 255, 0.3);
}
.bottomcta{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.bottomcta-p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    padding-left: 100px;
    padding-right: 100px;
    text-transform: uppercase;
}
footer{
    text-align: center;
    margin-top:60px;
    z-index: 1000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.fadeInAnimation{
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}
.fadeInAnimation.visible{
    opacity: 1;
    transform: translateY(0);
}
/* carousel */
#portfolio{
    text-align: center;
    font-size: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.portfolio-carousel {
    padding-left: 100px;
    padding-right: 100px;
}
.carousel{
    width: 100%;
    height: 100vh;
    /* margin-top: -50px; */
    overflow: hidden;
    position: relative;
    border-radius: 20px;
}

.carousel .list .item{
    width: 180px;
    height: 180px;
    position: absolute;
    top: 100%;
    transform: translateY(-70%);
    left: 70%;
    border-radius: 20px;
    box-shadow: 0 0px 14px rgb(0, 38, 255);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    z-index: 100;
    transition: 1s;
}

.carousel .list .item:nth-child(1),
.carousel .list .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.carousel .list .item:nth-child(3){
    left: 67%;
}

.carousel .list .item:nth-child(4){
    left: calc(67% + 200px);
}

.carousel .list .item:nth-child(5){
    left: calc(67% + 400px);
}

.carousel .list .item:nth-child(6){
    left: calc(67% + 600px);
}

.carousel .list .item:nth-child(n+7){
    left: calc(67% + 800px);
    opacity: 0;
}
.arrows{
    position: absolute;
    top: 87%;
    right: 68%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.arrows button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    color: rgb(0, 38, 255);
    border: none;
    outline: none;
    font-size: 16px;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}

.arrows button:hover{
    background: #fff;
    color: #000;
}


/* time running */
.carousel .timeRunning{
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 4px;
    background-color: rgb(0, 38, 255);
    left: 0;
    top: 0;
    animation: runningTime 7s linear 1 forwards;
}
@keyframes runningTime {
    
    from{width: 0%;}
    to{width: 100%;}

}
@keyframes animate {
    
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}
@keyframes zoomIn {
    0%{
        opacity: 0;
        transform: scale(0.8);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes zoomOut {
    from{
        opacity: 1;
        transform: scale(1);
    }
    to{
        opacity: 0;
        transform: scale(0.8);
    }
}
@keyframes glow {
    0% {
        transform: scale(1);
        text-shadow: 0 0 2px rgb(0, 38, 255), 0 0 4px rgb(0, 38, 255), 0 0 6px rgb(0, 38, 255);
        opacity: 0.3;
    }
    50% {
        transform: scale(1.2);
        text-shadow: 0 0 8px rgb(0, 38, 255), 0 0 16px rgb(0, 38, 255), 0 0 24px rgb(0, 38, 255);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        text-shadow: 0 0 2px rgb(0, 38, 255), 0 0 4px rgb(0, 38, 255), 0 0 6px rgb(0, 38, 255);
        opacity: 1;
    }
}
@media screen and (max-width: 480px) {
    .hero{
        flex-direction: column;
    }
    .my-name{
        font-size: 12vw;
        margin-left: 0px;
    }
    .social_icons{
        margin-left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 30%;
    }
    .fiverr-icon {
        margin-top: 16px;
    }
    .intro{
        margin-left: -60px;
    }
    .profile-pic{
        margin-bottom: 40px;
    }
    .cta{
        padding-left: 15px;
        padding-right: 15px;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 1rem;
        text-align: center;
        margin-left: 15px;
    }
    .bottomcta-p{
        font-size: 25px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .container{
        margin:0px 20px 10px 20px;
    }
    .navbar{
        margin:20px 40px 0px 40px;
    }
    .service_list{
        flex-direction: column;
    }
    .service{
        width: auto;
    }
    .skills_list{
        flex-wrap: wrap;
    }
    .portfolio-carousel{
        padding-left: 20px;
        padding-right: 20px;
    }
    .carousel {
        height: 50vh;
    }
    .carousel .list .item {
        height: 180px;
        left: 50%;
        top: 100%;
    }
    .arrows{
        top: 85%;
        right: 66%;
    }
    .arrows button{
        width: 40%;
        height: 40%;
    }
    .close, .closefeedback {
        top:60px;
        right:160px;
    }
    .contact-form-container {
        max-width: 250px;
    }
    footer{
        margin-top:40px;
    }
  }